<h3 class="header">
    {{localize 'xdy-pf2e-workbench.skillActions.Title'}}
    <button type="button" class="toggle-hidden-actions"
            title="{{ localize 'xdy-pf2e-workbench.skillActions.UnequipAll.Tooltip' }}">
        {{#if allVisible}}<i class="fa-solid fa-eye" style="color: #5e0000"></i>{{/if}}
        {{#unless allVisible}}<i class="fa-solid fa-eye-slash" style="color: #000000;opacity: 50%"></i>{{/unless}}
    </button>
</h3>
<ol class="actions-list item-list directory-list strikes-list skill-action-list">
    {{#each skills}} {{#if enabled}}
        <li class="item strike action expandable ready" data-action-id="{{actionKey}}"
            {{#unless displayed}}style="display:none"{{/unless}}>
            <div class="item-name" style="grid-column: span 4">
                <div class="item-image variant-strike" style="background-image: url({{icon}})">
                    <i class="fas fa-comment-alt"></i>
                </div>
                <div class="actions-title">
                    <div class="action-name" style="justify-content: space-between">
                        <h4>{{label}} <span class="action-glyph">{{actionType}}</span></h4>
                        <div class="action-options">
                            <a class="item-control item-toggle-equip" title="Toggle action visibility">
                                {{#if visible}}<i class="fa-solid fa-eye" style="color: #5e0000"></i>{{/if}}
                                {{#unless visible}}
                                    <i class="fa-solid fa-eye-slash" style="rgba(0 0 0 / 40%)"></i>{{/unless}}
                            </a>
                        </div>
                    </div>
                    <div class="button-group tags" style="flex-wrap: wrap;">
                        {{#each variants}}
                            <button type="button" class="skill-action tag variant-strike"
                                    data-variant="{{@index}}">{{label}}</button>
                        {{/each}}
                    </div>
                </div>
            </div>
        </li>
    {{/if}} {{/each}}
</ol>
