<h3 class="header">
    {{localize 'xdy-pf2e-workbench.skillActions.Title'}}
    <button type="button" class="toggle-hidden-actions"
            title="{{ localize 'xdy-pf2e-workbench.skillActions.UnequipAll.Tooltip' }}">
        <i class="fa-solid fa-eye" {{#if allVisible}}style="color: rgba(0, 0, 0, 0.4);"{{/if}}></i>
    </button>
</h3>
<ol class="actions-list item-list directory-list strikes-list skill-action-list">
    {{#each skills}} {{#if enabled}}
        <li class="item strike action expandable ready" data-action-id="{{key}}"
            {{#unless displayed}}style="display:none"{{/unless}}>
            <div class="item-name">
                <div class="item-image variant-strike" style="background-image: url({{icon}})">
                    <i class="fas fa-comment-alt"></i>
                </div>
                <div class="actions-title">
                    <div class="action-name" style="justify-content: space-between">
                        <h4>{{label}} <span class="activity-icon">{{actionType}}</span></h4>
                        <div class="action-options">
                            <a class="item-control item-toggle-equip" title="Toggle action visibility">
                                <i class="fa-solid fa-eye"
                                   {{#unless visible}}style="color: rgba(0, 0, 0, 0.4);"{{/unless}}></i>
                            </a>
                        </div>
                    </div>
                    <div class="button-group tags" style="flex-wrap: wrap;">
                        {{#each variants}}
                            <button type="button" class="skill-action tag variant-strike"
                                    style="width: auto; border: none; cursor: pointer"
                                    data-variant="{{@index}}">{{label}}</button>
                        {{/each}}
                    </div>
                </div>
            </div>
        </li>
    {{/if}} {{/each}}
</ol>
