{{#*inline "colorPalette"}}
    {{#if (eq rank 0)}}
        #424242
    {{else if (eq rank 1)}}
        #171f67
    {{else if (eq rank 2)}}
        #3c005e
    {{else if (eq rank 3)}}
        #664400
    {{else if (eq rank 4)}}
        #5e0000
    {{else}}
        #424242
    {{/if}}
{{/inline}}
{{#*inline "actionName"}}{{action.name}} {{#xdy_ifne skill xdy_undefined}}({{signedInteger
    bonus}}){{/xdy_ifne}}{{/inline}}
{{#*inline "actionTooltip"}}{{> actionName}} {{ifThen best (localize "xdy-pf2e-workbench.macros.basicActionMacros.YouAreTheBestInYourParty")""}}{{/inline}}
{{#if action.showMAP}}
    <div class="bam-map-wrapper">
        <button class="bam-action-btn{{#if best}} glow{{/if}}" data-action="{{idx}}" data-map="0"
                style="background:{{> colorPalette rank=skill.rank}}" data-tooltip="{{> actionTooltip}}"><img
            src="{{coalesce action.icon "systems/pf2e/icons/actions/craft/unknown-item.webp"}}" height="24"
            width="24"
            alt="{{> actionName}}"/>{{> actionName}}</button>
        <button class="bam-action-btn{{#if best}} glow{{/if}}" data-action="{{idx}}" data-map="-5"
                style="background:{{> colorPalette rank=skill.rank}}" data-tooltip="{{> actionTooltip}} {{localize
            "xdy-pf2e-workbench.macros.basicActionMacros.second"}}">{{localize
            "xdy-pf2e-workbench.macros.basicActionMacros.second"}}</button>
        <button class="bam-action-btn{{#if best}} glow{{/if}}" data-action="{{idx}}" data-map="-10"
                style="background:{{> colorPalette rank=skill.rank}}" data-tooltip="{{> actionTooltip}} {{localize
            "xdy-pf2e-workbench.macros.basicActionMacros.third"}}">{{localize
            "xdy-pf2e-workbench.macros.basicActionMacros.third"}}</button>
    </div>
{{else}}
    <button class="bam-action-btn{{#if best}} glow{{/if}}" data-action="{{idx}}"
            style="background:{{> colorPalette rank=skill.rank}}"
            data-tooltip="{{> actionTooltip}}">
        <img src="{{coalesce action.icon "systems/pf2e/icons/actions/craft/unknown-item.webp"}}" height="24"
             alt="{{name}}"/>{{> actionName}}
    </button>

{{/if}}
