{{#if tabView }}
    <nav class="bam-tabs tabs" data-group="primary">
        {{#if (gt encounter.length 0)}}
            <h3><a class="item active" data-tab="encounter">Encounter</a></h3>
        {{/if}}
        {{#if (gt exploration.length 0)}}
            <h3><a class="item" data-tab="exploration">Exploration</a></h3>
        {{/if}}
        {{#if (gt downtime.length 0)}}
            <h3><a class="item" data-tab="downtime">Downtime</a></h3>
        {{/if}}
    </nav>
{{/if}}
<section class="bam-body">
    {{#if tabView }}
        {{#if (gt encounter.length 0)}}
            <div class="tab encounter active" data-group="primary" data-tab="encounter"
                 style="--bam-count:{{encounter.length}};">
                <div class="action-list">
                    {{#each encounter}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
        {{#if (gt exploration.length 0)}}
            <div class="tab exploration" data-group="primary" data-tab="exploration"
                 style="--bam-count:{{exploration.length}};">
                <div class="action-list">
                    {{#each exploration}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
        {{#if (gt downtime.length 0)}}
            <div class="tab downtime" data-group="primary" data-tab="downtime" style="--bam-count:{{downtime.length}};">
                <div class="action-list">
                    {{#each downtime}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
    {{else}}
        {{#if (gt encounter.length 0)}}
            <h3><a class="item" data-tab="encounter">Encounter</a></h3>
            <div class="tab encounter active" data-group="primary" data-tab="encounter"
                 style="--bam-count:{{encounter.length}};">
                <div class="action-list">
                    {{#each encounter}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
        {{#if (gt exploration.length 0)}}
            <h3><a class="item" data-tab="exploration">Exploration</a></h3>
            <div class="tab exploration active" data-group="primary" data-tab="exploration"
                 style="--bam-count:{{exploration.length}};">
                <div class="action-list">
                    {{#each exploration}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
        {{/if}}
        {{#if (gt downtime.length 0)}}
            <h3><a class="item" data-tab="downtime">Downtime</a></h3>
            <div class="tab downtime active" data-group="primary" data-tab="downtime"
                 style="--bam-count:{{downtime.length}};">
                <div class="action-list">
                    {{#each downtime}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
        {{/if}}

    {{/if}}
</section>
