{{#if tabView }}
<nav class="bam-tabs tabs" data-group="primary">
    <h3><a class="item active" data-tab="encounter">Encounter</a></h3>
    <h3><a class="item" data-tab="exploration">Exploration</a></h3>
    <h3><a class="item" data-tab="downtime">Downtime</a></h3>
</nav>
{{/if}}
<section class="bam-body">
    {{#if tabView }}
        <div class="tab encounter active" data-group="primary" data-tab="encounter" style="--bam-count:{{encounter.length}};">
            <div class="bam-action-list">
                {{#each encounter}}
                    {{> actionButton this}}
                {{/each}}
            </div>
        </div>
        <div class="tab exploration" data-group="primary" data-tab="exploration" style="--bam-count:{{exploration.length}};">
            <div class="bam-action-list">
                {{#each exploration}}
                    {{> actionButton this}}
                {{/each}}
            </div>
        </div>
        <div class="tab downtime" data-group="primary" data-tab="downtime" style="--bam-count:{{downtime.length}};">
            <div class="bam-action-list">
                {{#each downtime}}
                    {{> actionButton this}}
                {{/each}}
            </div>
        </div>
    {{else}}
        <h3><a class="item" data-tab="encounter">Encounter</a></h3>
        <div class="tab encounter active" data-group="primary" data-tab="encounter" style="--bam-count:{{encounter.length}};">
            <div class="bam-action-list">
                {{#each encounter}}
                    {{> actionButton this}}
                {{/each}}
            </div>
        </div>
        <h3><a class="item" data-tab="exploration">Exploration</a></h3>
        <div class="tab exploration active" data-group="primary" data-tab="exploration" style="--bam-count:{{exploration.length}};">
            <div class="bam-action-list">
                {{#each exploration}}
                    {{> actionButton this}}
                {{/each}}
            </div>
        </div>
        <h3><a class="item" data-tab="downtime">Downtime</a></h3>
        <div class="tab downtime active" data-group="primary" data-tab="downtime" style="--bam-count:{{downtime.length}};">
            <div class="bam-action-list">
                {{#each downtime}}
                    {{> actionButton this}}
                {{/each}}
            </div>
        </div>
    {{/if}}
</section>
