<div>
    {{#if tabView }}
<nav class="sheet-tabs bam-tabs tabs">
    {{#each tabs as |tab|}}
			<a data-action="tab" data-group="{{tab.group}}" data-tab="{{tab.id}}"
        {{#if tab.cssClass}}class="{{tab.cssClass}}"{{/if}}
        {{#if tab.tooltip}}data-tooltip="{{tab.tooltip}}"{{/if}}>
        {{#if tab.label}}<span><h3>{{localize tab.label}}</h3></span>{{/if}}
			</a>
			{{/each}}
    </nav>
    {{/if}}
    <section class="bam-body">
        {{#if tabView }}
            <div class="tab encounter active" data-group="primary" data-tab="encounter" style="--bam-count:{{encounter.length}};">
                <div class="bam-action-list">
                    {{#each encounter}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
            <div class="tab exploration" data-group="primary" data-tab="exploration" style="--bam-count:{{exploration.length}};">
                <div class="bam-action-list">
                    {{#each exploration}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
            <div class="tab downtime" data-group="primary" data-tab="downtime" style="--bam-count:{{downtime.length}};">
                <div class="bam-action-list">
                    {{#each downtime}}
                        {{> actionButton this}}
                    {{/each}}
                </div>
            </div>
        {{else}}
            <h3>Encounter</h3>
            <div class="bam-action-list" style="--bam-count:{{encounter.length}};">
                {{#each encounter}}
                    {{> actionButton this}}
                {{/each}}
            </div>
            <h3>Exploration</h3>
            <div class="bam-action-list" style="--bam-count:{{exploration.length}};">
                {{#each exploration}}
                    {{> actionButton this}}
                {{/each}}
            </div>
            <h3>Downtime</h3>
            <div class="bam-action-list" style="--bam-count:{{downtime.length}};">
                {{#each downtime}}
                    {{> actionButton this}}
                {{/each}}
            </div>
        {{/if}}
    </section>
</div>
